
.banana-button {
    display: none;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: pxrm(86);
    &__img {
        width: pxvh(110);
        height: auto;
    }
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        display: block;
    }
}