.comingsoon {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    padding-top: pxrm(70);
    background: url(../../assets/bg-swap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    @media (min-aspect-ratio: 2/3) {
        padding-top: 0;
        align-items: center;
    }
}

.comingsoon-title-as-image {
    display: block;
    width: 100%;
    height: pxrm(140);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../assets/titles/coming_soon.png);
}