
.modal {
    // display: none!important; // @todo sergiu
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    @media (min-aspect-ratio: 2/3) {
        align-items: center;
        padding: 0;
    }
    .panel-green-main__bm {
        background-image: none;
        background-color: var(--c-second-2);
        @media (min-aspect-ratio: 2/3) {
            background-image: url('../../assets/pxcomponents/panel-green-main-bm.svg');
            background-color: none;
        }
    }
    .panel-green-main__bl,
    .panel-green-main__br {
        display: none;
        @media (min-aspect-ratio: 2/3) {
            display: block;
        }
    }
    .panel-green-main__ml,
    .panel-green-main__mr {
        height: calc(100% - pxrm(25));
        @media (min-aspect-ratio: 2/3) {
            height: calc(100% - pxrm(50));
        }
    }
}
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-container {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (min-aspect-ratio: 2/3) {
        max-width: pxrm(494);
    }
    .panel-green-main__content {
        overflow: auto;
        max-height: 85dvh;
        min-height: 65dvh;
        @media (min-aspect-ratio: 2/3) {
            min-height: unset;
        }
    }
}
.modal-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal-head {
    display: flex;
    align-items: center;
    position: relative;
    min-height: pxrm(36);
    &-title {
        font-size: pxrm(36);
        font-style: normal;
        font-weight: 700;
        line-height: pxrm(36);
        color: var(--c-white);
        &-incenter {
            width: 100%;
            text-align: center;
        }
    }
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    width: pxrm(40);
    color: var(--c-black);
    padding: pxrm(10);
    margin-left: auto;
    cursor: pointer;
    &:hover {
        color: var(--c-white);
    }
    svg {
        fill: currentColor;
        width: pxrm(14);
        height: auto;
    }
}
.modal-image-status {
    display: flex;
    justify-content: center;
}
.modal-top-pic {
    width: pxrm(200);
    height: auto;
}
.modal-title-status {
    color: var(--c-white);
    text-align: center;
    font-size: pxrm(42);
    margin-top: pxrm(10);
    font-family: "lores-12",sans-serif;
    font-weight: 700;
}
.modal-view-on-explorer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: pxrm(10);
}
.view-on-explorer-button {
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: var(--c-yellow-3);
    text-align: center;
    font-size: pxrm(20);
    line-height: pxrm(20);
    font-style: normal;
    padding: pxrm(16) 0 0;
    cursor: pointer;
    svg {
        width: pxrm(16);
        height: auto;
    }
}
.view-on-explorer-button:hover {
    color: white;
    text-decoration: none;
}
.view-on-explorer-icon {
    display: flex;
    align-items: center;
    margin-top: pxrm(2);
    margin-left: pxrm(8);
}

.modal-confirmation-summary {
    display: flex;
    flex-direction: column;
    background-color: var(--c-second-1);
    border-radius: pxrm(10);
    padding: pxrm(12) pxrm(20);
    margin-top: pxrm(16);
}
.summary-simple-number {
    font-size: pxrm(42);
    font-weight: 400;
    color: var(--c-white);
}
.summary-row {
    display: flex;
    margin-top: pxrm(12);
    &:first-of-type {
        margin-top: 0;
    }
}
.summary-label {
    width: 36%;
    font-size: pxrm(20);
    font-style: normal;
    padding-top: pxrm(6);
    font-weight: 700;
}
.summary-value {
    color: var(--c-white);
    font-size: pxrm(42);
    font-style: normal;
    
}
.summary-value-number {
    color: var(--c-white);
    font-size: pxrm(42);
    font-style: normal;
    font-weight: 400;
    
}
.summary-value-small {
    font-size: pxrm(24);
    font-weight: 700;
    color: var(--c-black);
    padding-left: pxrm(4);
}
.summary-value-column {
    display: flex;
    flex-direction: column;
    color: var(--c-white);
    font-size: pxrm(42);
    font-weight: 400;
    
}
.modal-confirmation-panneltitle {
    display: block;
    margin-top: pxrm(20);
    font-style: normal;
    font-size: pxrm(20);
    line-height: pxrm(20);
    font-weight: 700;
}
.summary-token {
    margin-right: auto;
    display: flex;
    align-items: center;
}
.summary-token-logo {
    width: pxrm(36);
    height: auto;
    margin-right: pxrm(6);
}
.summary-token-name {
    font-size: pxrm(24);
    font-style: normal;
    line-height: 150%;
    color: var(--c-white)
}

.review-main {
    gap: pxrm(20);
    display: flex;
    flex-direction: column;
    background-color: var(--c-second-1);
    border-radius: pxrm(10);
    padding: pxrm(12) pxrm(20);
    margin-top: pxrm(16);
}
.review-main-item {
    display: flex;
    flex-direction: column;
}
.review-label {
    font-size: pxrm(20);
    font-weight: 700;
}
.review-value-wrap {
    display: flex;
    justify-content: space-between;
    font-size: pxrm(42);
    font-weight: 400;
    color: var(--c-white);
}
.review-value-currency {
    font-size: pxrm(24);
    font-weight: 700;
    margin-left: pxrm(5);
}
.review-token {
    width: pxrm(36);
    height: auto;
}
.review-convertedvalue {
    font-size: pxrm(12);
    font-style: normal;
    
    line-height: normal;
}

.review-fees {
    display: flex;
    flex-direction: column;
    margin-top: pxrm(12);
}
.review-fees-head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:before {
        content: '';
        display: block;
        width: calc(100% - pxrm(30));
        height: pxrm(1);
        position: absolute;
        top: 50%;
        left: pxrm(15);
        background-color: var(--c-second-1);
    }
}
.review-fees-headtitle {
    padding: pxrm(4) pxrm(12);
    font-size: pxrm(24);
    font-style: normal;
    line-height: pxrm(24);
    font-weight: 700;
    color: var(--c-white);
    background-color: var(--c-second-2);
    position: relative;
}
.review-fees-item {
    margin-top: pxrm(5);
    display: flex;
    justify-content: space-between;
    font-size: pxrm(20);
    font-style: normal;
    font-weight: 700;
    line-height: pxrm(20);    
}
.review-fees-item-value {
    color: var(--c-white);
}
.buttonbig-yellow--confirmation {
    margin-top: pxrm(16);
    width: 100%;
    justify-content: center;
}

.review-send-item {
    display: flex;
    flex-direction: column;
    margin-top: pxrm(10);
}
.review-send-label {
    font-size: pxrm(20);
    
}
.review-send-address {
    font-size: pxrm(20);
    color: var(--c-white);
    margin-top: pxrm(4);
}
.token-search-wrapper {
    position: relative;
    min-width: 0;
    flex-grow: 1;
    margin-top: pxrm(12);
}
.token-search-input {
    border-radius: pxrm(8);
    background: var(--c-second-1);
    line-height: pxrm(36);
    color: var(--c-white);
    font-size: pxrm(16);
    font-style: normal;
    border: none;
    outline: none;
    padding: 0 pxrm(42) 0 pxrm(16);
    width: 100%;
    box-sizing: border-box;
    &::placeholder {
        color: #ffffffa4;
    }
}
.token-search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: pxrm(42);
    height: pxrm(36);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.token-select-list {
    display: flex;
    flex-direction: column;
    margin-top: pxrm(12);
}
.token-select-item {
    display: flex;
    align-items: center;
    margin-top: pxrm(4);
    padding: pxrm(4) pxrm(10);
    background-color: transparent;
    border-radius: pxrm(8);
    cursor: pointer;
    &:hover {
        background-color: var(--c-second-1);
    }
}
.token-select-logo {
    width: pxrm(42);
    height: auto;
    margin-right: pxrm(16);
}
.token-select-details {
    display: flex;
    flex-direction: column;
}
.token-select-longname {
    color: var(--c-white);
    font-size: pxrm(20);
    font-style: normal;
    
    line-height: pxrm(24);    
}
.token-select-name {
    font-size: pxrm(16);
    font-style: normal;
    
    line-height: pxrm(20); /* 125% */
}



.review-lq-item {
    display: flex;
    margin-top: pxrm(40);
}
.review-lq-token {
    width: pxrm(40);
    height: auto;
    &--behind {
        margin-right: pxrm(-12);
        position: relative;
    }
}
.review-lq-tokens-name {
    color: var(--c-white);
    margin-left: pxrm(10);
    font-size: pxrm(42);
    font-style: normal;
    
}


.steps {
    margin-top: pxrm(45);
    display: flex;
    background-color: var(--c-second-1);
    border-radius: pxrm(8);
    padding: pxrm(54) pxrm(8) pxrm(38);
    .step {
        width: 33.33%;
        padding: 0 pxrm(5);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        &:before {
            display: block;
            content: '';
            width: 30%;
            height: pxrm(2);
            background-color: var(--c-black);
            position: absolute;
            top: pxrm(20);
            right: 0;
            transform: translateX(50%);
        }
        &:last-of-type:before {
            display: none;
        }
    }
    &.steps-4 {
        .step {
            width: 25%;
        }
    }
    .step-image {
        width: 1em;
        height: 1em;
        font-size: pxrm(40);
        background-size: contain;
        background-repeat: no-repeat;
        &-sending {
            background-image: url(../../assets/pxsteps/step-sending.svg);
        }
        &-updating {
            background-image: url(../../assets/pxsteps/step-updating.svg);
        }
        &-receiving {
            background-image: url(../../assets/pxsteps/step-receiving.svg);
        }
        &-complete {
            background-image: url(../../assets/pxsteps/step-complete.svg);
        }
    }
    .step-text {
        margin-top: pxrm(20);
        color: var(--c-white);
        font-size: pxrm(20);
        &-complete {
            color: var(--c-yellow-3);
        }
    }
}

.steps-subtitle-center{ 
    margin-top: pxrm(32);
    font-size: pxrm(24);
    font-style: normal;
    font-weight: 700;
    line-height: pxrm(24);
    text-align: center;
    color: var(--c-white);
}
.steps-progress-bar {
    margin-top: pxrm(35);
    margin-bottom: pxrm(35);
    width: 100%;
    height: pxrm(26);
    display: flex;
}
.steps-progress-cell {
    flex: 1;
    height: 100%;
    background-color: var(--c-white);
    border: pxrm(4) solid var(--c-black);
    border-right-width: 0;
    &:first-child {
        border-radius: pxrm(8) 0 0 pxrm(8);
    }
    &:last-child {
        border-right-width: pxrm(4);
        border-radius: 0 pxrm(8) pxrm(8) 0;
    }
    &.active {
        background-color: var(--c-yellow-1);
    }
}