.SwapSecondBody {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    z-index: 0;
    padding-bottom: pxrm(80);
    background: url(../../assets/bg-swap.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    // @media (min-aspect-ratio: 2/3) {
    //     padding-bottom: pxrm(68);
    // }
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        overflow: hidden;
        padding-bottom: 0;
    }
}


.swap-page-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 pxrm(12);
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        height: calc(100% - pxrm(80));
    }
}


.swap-page-title-as-image {
    display: block;
    width: 100%;
    height: pxrm(90);
    flex-shrink: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../assets/titles/titleKingKongSwap.png);
    @media (min-aspect-ratio: 2/3) {
        margin-top: pxrm(-70);
        max-width: calc(100% - pxrm(350));
    }
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        max-width: calc(100% - pxrm(500));
    }
}
.swap-page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: pxrm(90);
    flex-shrink: 0;
    font-size: pxrm(40);
    font-weight: 700;
    color: #000000;
    text-align: center;
    // @media (min-aspect-ratio: 2/3) {
    //     margin-top: pxrm(-35);
    //     max-width: calc(100% - pxrm(350));
    // }
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        margin-top: pxrm(-35);

        max-width: calc(100% - pxrm(500));
    }
}
.swap-page-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: pxrm(16);
    position: relative;
    flex-grow: 1;
    // @media (min-aspect-ratio: 2/3) {
    //     flex-direction: row;
    //     align-items: start;
    //     justify-content: start;
    //     margin-top: 0;
    // }
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        flex-direction: row;
        align-items: start;
        justify-content: start;


        padding-left: pxrm(65);
        margin-top: pxrm(50);
        // gap: pxrm(20);
    }
    @media (min-aspect-ratio: 16/9) and (min-width: 1800px) {
        justify-content: center;
    }
}
.swap-page-left-container {
    display: none;
    align-self: stretch;
    // @media (min-aspect-ratio: 2/3) {
    //     display: flex;
    //     flex-direction: column;
    //     width: 50%;
    //     padding-top: pxrm(54);
    //     padding-right: pxrm(5);
    //     align-items: flex-start;
    // }
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        display: flex;
        flex-direction: column;
        padding-top: pxrm(54);
        align-items: flex-start;


        margin-right: pxvw(40);
        padding-right: 0;
        width: pxvw(500);
    }
    @media (min-aspect-ratio: 16/9) and (min-width: 1800px) {
        margin-right: pxvw(45);
        width: pxvw(300);
    }
}
.panel-green-second--forwallet {
    width: 100%;
}

.swap-page-center-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: pxrm(420);
    // @media (min-aspect-ratio: 2/3) {
    //     width: 55%;
    //     max-width: unset;
    //     padding-left: pxrm(5);
    // }
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        width: pxvw(650);
        padding-left: 0;
        max-width: unset;
    }
    @media (min-aspect-ratio: 16/9) and (min-width: 1800px) {
        width: pxvw(400);
    }
}

.swap-page-kong-image-container {
    display: none;
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        display: flex;
        align-self: end;
        margin-bottom: 8.5rem;
        position: relative;
        width: pxvw(500);
        height: pxrm(550);
    }
    @media (min-aspect-ratio: 16/9) and (min-width: 1800px) {
        width: pxvw(350);
        margin-left: pxvw(24);
    }
}

.swap-page-kong-image {
    width: 100%;
    object-fit: contain;
    object-position: bottom right;
    transform: translateY(0);
    animation: jump 8s infinite;
}

@keyframes zoomInOut {
  0%, 100% { 
    transform: scale(0.1) rotate(0deg); 
    opacity: 0; 
  }
  10% { 
    transform: scale(1) rotate(720deg); 
    opacity: 1; 
  }
  90% {
    transform: scale(1) rotate(720deg);
    opacity: 1;
  }
  100% { 
    transform: scale(0) rotate(0deg); 
    opacity: 1; 
  }
}

@keyframes jump {
    0%, 1%, 5%, 10%, 100% {
        transform: translateY(0);
    }
    3%, 7%, 11% {
        transform: translateY(pxrm(-40));
    }
    14%, 100% {
        transform: translateY(0);
    }
}

.bubble--swappage-kong {
    position: absolute;
    right: pxvw(-50);
    bottom: pxrm(430);
    transition: transform 0.3s ease-in-out;
    @media (min-aspect-ratio: 16/9) and (min-width: 1200px) {
        bottom: pxrm(460);
    }
}

.bubble--swappage-kong.animate {
    animation: zoomInOut 8.3s infinite; // Match this with the JavaScript timing
}

.toast-container {
    background-color: #FFCD1E !important; /* Green background */
    color: #000000 !important; /* Yellow text */
    font-weight: bold;
  }
  
.toast-body {
    color: #000000 !important; /* Yellow text */
}
