/* Dark theme styles */
:root.theme-dark,
.theme-dark:root {
  --tv-color-platform-background: var(--bg-dark);
  --tv-color-pane-background: var(--bg-dark);
  --tv-color-background: var(--bg-dark);
}

/* Light theme styles */
:root:not(.theme-dark) {
  --tv-color-platform-background: var(--bg-dark);
  --tv-color-pane-background: var(--bg-dark);
  --tv-color-background: var(--bg-dark);
}

/* Dark theme specific elements */
.theme-dark .chart-controls-bar,
.theme-dark .chart-page .chart-container-border,
.theme-dark .drawing-toolbar,
.theme-dark .group-2JyOhh7Z,
.theme-dark .group-wWM3zP_M-,
.theme-dark .chart-toolbar,
.theme-dark .toggleButton-3zv4iS2j,
.theme-dark .button-2ioYhFEY,
.theme-dark .button-2ioYhFEY.isInteractive-20uLObIc {
  background-color: var(--bg-dark);
  border-color: transparent;
}

/* Light theme specific elements */
:root:not(.theme-dark) .chart-controls-bar,
:root:not(.theme-dark) .chart-page .chart-container-border,
:root:not(.theme-dark) .drawing-toolbar,
:root:not(.theme-dark) .group-2JyOhh7Z,
:root:not(.theme-dark) .group-wWM3zP_M-,
:root:not(.theme-dark) .chart-toolbar,
:root:not(.theme-dark) .toggleButton-3zv4iS2j,
:root:not(.theme-dark) .button-2ioYhFEY,
:root:not(.theme-dark) .button-2ioYhFEY.isInteractive-20uLObIc {
  background-color: var(--bg-dark);
  border-color: #E5E7EB;
}
