
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: pxrm(56);
    padding: pxrm(16) pxrm(12) 0;
    position: relative;
    z-index: 3;
    @media (min-aspect-ratio: 2/3) {
        height: pxrm(80);
    }
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        padding: 0 pxrm(65);
    }
}

.main-nav {
    display: flex;
    gap: pxrm(10);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
// .headlogo {
//     width: pxrm(42);
//     height: auto;
//     &__image {
//         width: 100%;
//         height: auto;
//     }
// }
.second-nav {
    display: flex;
    gap: pxrm(10);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

