

.pool-container {
}

.pool-container-head-tabs {
    display: flex;
    justify-content: space-around;
}
.pool-container-head-tab {
    height: pxrm(44);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--c-white);
    opacity: .7;
    font-size: pxrm(28);
    font-weight: 700;
    cursor: pointer;
    @media (min-aspect-ratio: 2 / 3) and (min-width: 800px) {
        font-size: pxrm(32);
    }
    &:hover {
        opacity: 1;
    }
    &.active {
        opacity: 1;
        border-bottom: pxrm(3) solid var(--c-white);
    }
}

.pool-container-title {
    color: var(--c-white);
    display: block;
    font-size: pxrm(20);
    font-style: normal;
    line-height: pxrm(20);
    font-weight: 700;
    margin-top: pxrm(16);
}
.pool-token-selectors {
    display: flex;
    gap: pxrm(10);
    .buttonmed-yellow {
        flex-grow: 1;
    }
}

.pool-selectors {
    display: flex;
    gap: pxrm(22);
}






.pool-fieldset {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: pxrm(12) pxrm(20) pxrm(10) pxrm(12); 
    position: relative;
    z-index: 1;
}
.pool-fieldset-first {
    margin-top: pxrm(12);
}
.pool-fieldset-second {
    margin-top: pxrm(8);
}

.pool-fieldset-items {
    display: flex;
    pointer-events: none;
}
.pool-fieldset-left {
    width: calc(100% - pxrm(120));
    display: flex;
    flex-direction: column;
}
.pool-fieldset-inputholder {
    display: block;
    width: 100%;
    height: pxrm(36);
}
.pool-fieldset-inputholder-value {
    font-size: pxrm(12);
    margin-top: pxrm(8);
}
.pool-fieldset-right {
    width: pxrm(120);
    display: flex;
    flex-direction: column;
    pointer-events: auto;
}


.pool-selected-data {
    display: flex;
    background-color: var(--c-yellow-3);
    color: var(--c-black);
    border-radius: pxrm(10);
    align-items: center;
    height: pxrm(42);
    padding: 0 pxrm(16);
    position: relative;
    z-index: 0;
    font-size: pxrm(20);
    font-weight: 700;
    &-logo {
        width: 1em;
        height: 1em;
        font-size: pxrm(24);
        margin-left: pxrm(-7);
        margin-right: pxrm(4);
    }
}
.pool-under-select {
    display: flex;
    margin-top: pxrm(3);
    margin-right: pxrm(5);
    font-size: pxrm(16);
    color: var(--c-yellow-3);
    font-weight: 700;
}
.pool-container-selectedtoken-max {
    margin-left: auto;
    cursor: pointer;
    color: var(--c-yellow-1);
}

.pool-container-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--c-white);
    opacity: .9;
    border: none; /* Removes the default border */
    font-size: pxrm(54);
    font-style: normal;
    font-weight: 400;
    line-height: pxrm(42);
    outline: none;
    z-index: -1;
    padding-top: pxrm(22);
    padding-bottom: pxrm(23);
    padding-right: pxrm(130);
    padding-left: pxrm(12);
    background-color: var(--c-second-1);
    border-radius: pxrm(20);
    .active {
        opacity: 1;
    }
}

.pool-container-input-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--c-white);
    opacity: .9;
    border: none; /* Removes the default border */
    font-size: pxrm(54);
    font-style: normal;
    font-weight: 400;
    line-height: pxrm(42);
    outline: none;
    z-index: -1;
    padding-top: pxrm(0);
    padding-bottom: pxrm(23);
    padding-right: pxrm(130);
    padding-left: pxrm(12);
    background-color: var(--c-second-1);
    border-radius: pxrm(20);
    .active {
        opacity: 1;
    }
}

.pool-container-input:focus {
    opacity: 1;
}



.pool-add-button-container {
    margin-top: pxrm(10);
    flex-shrink: 0;
    display: flex;
    justify-content: center; /* Center button text horizontally */
    align-items: center; /* Center button text vertically */
}
.buttonbig-yellow--pool-add {
    width: 100%;
    justify-content: center;
}

.pixelated-text {
    font-family: "lores-12-narrow", sans-serif;
    font-size: pxrm(16);
    color: red;
  }