.receive-container {
    margin: pxrm(-20);
    width: calc(100% + pxrm(20) + pxrm(20));
    max-width: 100%;
    // height: pxrm(150);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: pxrm(20) pxrm(22) pxrm(10);
    position: relative;
    z-index: 1;
    min-height: pxrm(186);
    margin: 0 auto;
    // @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
    //     padding-left: pxvw(22);
    //     padding-right: pxvw(22);
    // }
}

.receive-container-label-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: pxrm(16);
}

.receive-container-close {
    display: flex;
    align-items: start;
    justify-content: center;
    width: pxrm(40);
    color: var(--c-black);
    padding: pxrm(10);
    margin-left: auto;
    cursor: pointer;
    &:hover {
        color: var(--c-white);
    }
    svg {
        width: pxrm(14);
        height: auto;
        fill: currentColor;
    }
}
.receive-container-label {
    font-size: pxrm(36);
    font-style: normal;
    font-weight: 700;
    line-height: pxrm(36); /* 166.667% */
    flex: none; /* Prevents label from growing */
    pointer-events: none;
    color: var(--c-white);
}
.receive-section {
    display: flex;
    flex-direction: column;
    &--second {
        margin-top: pxrm(34);
        margin-bottom: pxrm(44);
    }
}
.receive-container-title {
    font-size: pxrm(24);
    font-weight: 700;
    color: var(--c-white);
    text-decoration: underline;
}
.receive-container-text {
    font-size: pxrm(20);
    color: var(--c-white);
    margin-top: pxrm(4);
}
.receive-container-address {
    font-size: pxrm(20);
    margin-top: pxrm(14);
    margin-left: pxrm(-13);
    margin-right: pxrm(-13);
    padding: pxrm(12) pxrm(13) pxrm(8) pxrm(13);
    color: var(--c-black);
    font-weight: 700;
    word-break: break-all;
    background-color: var(--c-second-3);
    border-radius: pxrm(20);
    // @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
    //     margin-left: pxvw(-13);
    //     margin-right: pxvw(-13);
    //     padding-left: pxvw(13);
    //     padding-right: pxvw(13);
    // }
}
.receive-controls {
    display: flex;
    justify-content: space-around;
    margin-top: pxrm(14);
}

.receive-control {
    padding: pxrm(5) pxrm(12);
    border-radius: pxrm(10);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--c-second-1);
    &:hover {
        background-color: #368d0080;
    }
    svg {
        width: pxrm(36);
        height: auto;
    }
}

.receive-qr-section {
    margin-top: pxrm(22);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.receive-qr-area {
    width: pxrm(320);
    max-width: 100%;
    // height: pxrm(320);
    background-color: var(--c-white);
    padding: pxrm(8);
    border: pxrm(1) solid var(--c-black);
}
.receive-qr-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    canvas {
        width: 100%!important;
        height: auto!important;
    }
}