.sending-container {
    margin: pxrm(-20);
    width: calc(100% + pxrm(20) + pxrm(20));
    // height: pxrm(150);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: pxrm(20) pxrm(22) pxrm(10);
    position: relative;
    z-index: 1;
    min-height: pxrm(186);
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        padding-left: pxvw(22);
        padding-right: pxvw(22);
    }
}

.sending-container-label {
    font-size: pxrm(32);
    font-style: normal;
    font-weight: 700;
    line-height: pxrm(20); /* 166.667% */
    flex: none; /* Prevents label from growing */
    pointer-events: none;
    margin-top: pxrm(8);
    margin-bottom: pxrm(8);
    color: var(--c-white);
}

.sending-container-items {
    display: flex;
    pointer-events: none;
}
.sending-container-left {
    width: 63%;
    display: flex;
    flex-direction: column;
}
.sending-container-inputholder {
    display: block;
    width: 100%;
    height: pxrm(78);
}
.sending-container-inputholder-value {
    font-size: pxrm(12);
    font-style: normal;
    font-weight: 400;
    line-height: pxrm(20); /* 166.667% */
    flex: none; /* Prevents label from growing */
}
.sending-container-right {
    width: 37%;
    display: flex;
    flex-direction: column;
}
.sending-container-bottom .custom-select {
    width: auto;
}

.sending-container-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--c-white);
    opacity: .7;
    background-color: transparent;
    border: none;
    font-size: pxrm(54);
    font-style: normal;
    font-weight: 400;
    line-height: pxrm(48);
    outline: none;
    z-index: -1;
    padding-top: pxrm(50);
    padding-bottom: pxrm(50);
    padding-right: calc(37% + pxrm(2));
    padding-left: pxrm(20);
    @media (min-aspect-ratio: 8 / 7) {
        padding-right: calc(37% + pxvw(22));
        padding-left: pxvw(22);
    }
    &.active {
        opacity: 1;
    }
}

.sending-container-input:focus {
    opacity: 1;
}

.sending-under-select {
    font-size: pxrm(20);
    margin-top: pxrm(10);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    pointer-events: auto;
}
.sending-container-selectedtoken-value {
    text-align: right;
}
.sending-container-max {
    color: var(--c-yellow-3);
    padding: pxrm(6) 0;
    cursor: pointer;
    &:hover {
        color: var(--c-white);
    }
}
.panel-green-main--sending-address-container {
    margin-top: pxrm(10);
}
.sending-label {
    position: absolute;
    top: 50%;
    left: pxrm(22);
    transform: translateY(-50%);
    font-size: pxrm(28);
    font-style: normal;
    font-weight: 700;
    color: var(--c-white);
    @media (min-aspect-ratio: 8 / 7) {
        left: pxvw(22);
    }
}

.address-inputcontainer {
    margin: pxrm(-20);
    width: calc(100% + pxrm(20) + pxrm(20));
    height: pxrm(64);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: pxrm(12) pxrm(22) pxrm(12);
    position: relative;
    z-index: 1;
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        padding-left: pxvw(22);
        padding-right: pxvw(22);
    }
}


.address-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--c-white);
    // opacity: .7;
    background-color: transparent;
    border: none;
    font-size: pxrm(20);
    font-style: normal;
    font-weight: 400;
    line-height: pxrm(64);
    outline: none;
    padding-right: pxrm(10);
    padding-left: pxrm(54);
    @media (min-aspect-ratio: 8 / 7) {
        padding-right: pxvw(10);
        padding-left: pxvw(54);
    }
}

.address-input:focus {
    opacity: 1;
}


.sending-button-container {
    margin-top: pxrm(10);
    flex-shrink: 0;
    display: flex;
    justify-content: center; /* Center button text horizontally */
    align-items: center; /* Center button text vertically */
}
.buttonbig-yellow--sending-button {
    width: 100%;
    justify-content: center;
}