.side-drawer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    pointer-events: none; // Prevent interactions when closed
}

.side-drawer.open {
    pointer-events: auto; // Enable interactions when open
}

.side-drawer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.side-drawer.open .side-drawer-overlay {
    opacity: 1;
}

.side-drawer-container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: pxrm(500);
    display: flex;
    padding: pxrm(5) pxrm(5) 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.side-drawer.open .side-drawer-container {
    transform: translateX(0);
}

/* Rotate the SVG arrow during the opening animation */
.side-drawer-close-svg {
    transition: transform 0.3s ease-in-out;
}

.side-drawer.opening .side-drawer-close-svg {
    transform: rotate(180deg);
}

/* Rest of your styles */
.side-drawer-close {
    display: flex;
    align-items: start;
    justify-content: center;
    width: pxrm(53);
    background: #73a78833;
    color: var(--c-white);
    padding: pxrm(18);
    margin-right: pxrm(2);
    border-radius: pxrm(10);
    cursor: pointer;
}

.side-drawer-panel {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - pxrm(55));
    background-color: var(--c-second-3);
    color: var(--c-white);
    padding: pxrm(10) pxrm(10);
    border-radius: pxrm(10);
    @media (min-aspect-ratio: 2/3) {
        padding: pxrm(10) pxrm(23);
    }
}
.side-drawer-head {
    display: flex;
    align-items: center;
}
.side-drawer-head-title {
    color: var(--c-white);
    font-size: pxrm(16);
    font-style: normal;
    line-height: pxrm(20);
    padding: pxrm(10) 0;

    @media (min-aspect-ratio: 2/3) {
        font-size: pxrm(18);
    }
}

.sidebar-copy-button {
    width: pxrm(36);
    height: pxrm(36);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
        width: pxrm(16);
        height: auto;
    }
}
.side-drawer .disconnect {
    margin-left: auto;
    margin-right: pxrm(-4);
}
.disconnect {
    display: flex;
    align-items: center;
    padding: pxrm(5) pxrm(12) pxrm(5) pxrm(5);
    background: var(--c-second-2);
    color: var(--c-white);
    font-size: pxrm(18);
    font-style: normal;
    border-radius: pxrm(40);
    gap: pxrm(5);
    cursor: pointer;
}
.disconnect:hover {
    background-color: var(--c-second-1);
}
.disconnect-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-drawer .account-value {
    color: var(--c-white);
    font-size: pxrm(42);
    font-style: normal;
    margin-top: pxrm(20);
}
.side-drawer .account-value-label {
    color: var(--c-black);
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: var(--c-second-1);
    font-size: pxrm(16);
    font-style: normal;
    line-height: pxrm(20); 
}
.side-drawer {
    .tabs {
        margin-top: pxrm(12);
        padding-left: 0;
        font-size: pxrm(20);
        justify-content: space-between;
    
        @media (min-aspect-ratio: 2/3) {
            font-size: pxrm(32);
        }
    }
    .tab {
        padding: 0 pxrm(8);
        &-active {
            border-bottom: pxrm(2) solid var(--c-white);;
        }
    }
}


.tabs {
    display: flex;
    gap: pxrm(30);
    padding-left: pxrm(10);
    font-size: pxrm(24);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* pxrm(36) */
}
.tab {
    cursor: pointer;
    color: var(--c-white);
    opacity: .5;
}
.tab:hover {
    color: var(--c-white);
    opacity: 1;
}
.tab-active {
    color: var(--c-white);
    opacity: 1;
}

.no-pools {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--c-white);
    font-size: pxrm(24);
    font-style: normal;
    line-height: pxrm(36);
    margin-top: pxrm(20);
}
.token-filter-wrapper {
    margin-top: pxrm(16);
    display: flex;
}
.token-filter {
    display: flex;
    gap: pxrm(4);
    color: var(--c-black);
    cursor: pointer;
    &:hover {
        color: var(--c-white);
    }
}
.token-filter-checkbox {
    width: pxrm(24);
    height: pxrm(16);
    border-radius: pxrm(16);
    border: pxrm(2) solid var(--c-black);
    position: relative;
    &:before {
        display: block;
        content: '';
        width: pxrm(12);
        height: pxrm(12);
        background-color: var(--c-black);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.token-filter.active {
    .token-filter-checkbox {
        background-color: var(--c-second-1);
        border-color: var(--c-white);
        &:before {
            background-color: var(--c-white);
            position: absolute;
            top: 0;
            left: unset;
            right: 0;
        }
    }
}

.tokens-list {
    display: flex;
    flex-direction: column;
}
.tokens-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: pxrm(8);
    border-bottom:  pxrm(0.1) solid var(--c-second-2);
}
.tokens-item:first-child { 
    margin-top: pxrm(10);
}
.tokens-logo-wrapper {
    display: flex;
    align-items: center;
    margin-right: pxrm(5);
}
.tokens-logo-under {
    width: pxrm(32);
    height: pxrm(32);
    margin-right: pxrm(-20);
    position: relative;
    z-index: 1;
}
.tokens-logo {
    width: pxrm(32);
    height: pxrm(32);
    margin-right: pxrm(8);
}
.tokens-details {
    display: flex;
    flex-direction: column;
    width: calc(100% - pxrm(48));
}
.tokens-toprow {
    display: flex;
    justify-content: space-between;
    color: var(--c-white);
    font-size: pxrm(18);
    font-style: normal;
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        font-size: pxrm(20);
    }
}
.tokenlist-amount {
    color: var(--c-black);
    -webkit-text-stroke-width: pxrm(0.5);
    -webkit-text-stroke-color: var(--c-second-1);
    font-size: pxrm(14);
    font-style: normal;
    line-height: pxrm(16); 
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        font-size: pxrm(18);
    }
}
.tokenlist-usd-value {
    color: var(--c-black);
    -webkit-text-stroke-width: pxrm(0.5);
    -webkit-text-stroke-color: var(--c-second-1);
    font-size: pxrm(14);
    font-style: normal;
    line-height: pxrm(16); 
    @media (min-aspect-ratio: 16/9) and (min-width: 1800px) {
        font-size: pxrm(18);
    }
}


.token-controls-for-pools {
    display: flex;
    flex-direction: column;
    margin-left: pxrm(12);
    gap: pxrm(2);
}
.token-control {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: pxrm(14);
    min-height: pxrm(22);
    text-align: center;
    color: var(--c-white);
    cursor: pointer;
    border-radius: pxrm(10);
    padding: 0 pxrm(6);
    background-color: var(--c-second-2);
    &:hover {
        background-color: var(--c-second-1);
    }
}

.no-activity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--c-white);
    font-size: pxrm(24);
    font-style: normal;
    line-height: pxrm(36);
    margin-top: pxrm(20);
}

.activity-list {
    display: flex;
    flex-direction: column;
    margin: 0 pxrm(-10);
    @media (min-aspect-ratio: 2/3) {
        margin: 0 pxrm(-23);
    }
}
.activity-item {
    display: flex;
    width: 100%;
    padding: pxrm(10) pxrm(10);
    @media (min-aspect-ratio: 2/3) {
        padding: pxrm(10) pxrm(23);
    }
    &:hover {
        background-color: var(--c-second-2);
    }
}
.activity-item:first-child { margin-top: pxrm(10);}

.activity-logo-wrapper {
    margin-right: pxrm(12);
    svg {
        width: pxrm(32);
        height: auto;
    }
}
.activity-details {
    display: flex;
    flex-direction: column;
    width: calc(100% - pxrm(48));
}
.activity-toprow {
    display: flex;
    justify-content: space-between;
    color: var(--c-white);
    font-size: pxrm(18);
    font-style: normal;
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        font-size: pxrm(20);
    }
}
.activity-descriptor {
    color: var(--c-black);
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: var(--c-second-1);
    font-size: pxrm(14);
    font-style: normal;
    line-height: pxrm(16); 
    @media (min-aspect-ratio: 1/1) and (min-width: 1000px) {
        font-size: pxrm(18);
    }
}
.activity-external-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: pxrm(10);
}
.activity-external-link {
    display: flex;
    color: var(--c-black);
    cursor: pointer;
    &:hover {
        color: var(--c-white);
    }
    .external-icon {
        width: pxrm(20);
        height: pxrm(20);
    }
}



.wallets {
    display: flex;
    flex-direction: column;
    margin-top: pxrm(8);
}
.wallet-button {
    display: flex;
    align-items: center;
    margin-top: pxrm(2);
    padding: pxrm(11) pxrm(13);
    border-radius: pxrm(10);
    color: var(--c-white);
    font-size: pxrm(20);
    font-style: normal;
    background-color: var(--c-second-2);
    cursor: pointer;
    &:hover {
        background-color: var(--c-second-1);
    }
    &-thumb {
        margin-right: pxrm(16);
        width: pxrm(42);
        border-radius: pxrm(10);
        background-color: var(--c-white);
    }
    &-logo {
        width: 100%;
        height: auto;
    }
    &-text {

    }
}


.side-drawer-terms {
    display: flex;
    margin-top: auto;
    padding-top: pxrm(20);
}
.side-drawer-terms-message {
    color: var(--c-white);
    font-size: pxrm(12);
    font-style: normal;
    font-weight: 700;
    line-height: pxrm(20);
    
}

.claim-table {
    display: flex;
    flex-direction: column;
    color: var(--c-white);
    line-height: pxrm(24);
}
.claim-tablehead {
    display: flex;
}
.claim-tableheadcell--id {
    width: calc(25% - pxrm(20));
}
.claim-tableheadcell--token {
    width: calc(41% - pxrm(20));
}
.claim-tableheadcell--amount {
    width: calc(33% - pxrm(20));
    text-align: right;
}
.claim-tableheadcell--control {
    width: pxrm(60);
}
.claim-tablelist {
    display: flex;
    flex-direction: column;
}
.claim-tablerow {
    display: flex;
}
.claim-tablecell--id {
    width: calc(25% - pxrm(20));
}
.claim-tablecell--token {
    width: calc(41% - pxrm(20));
    display: flex;
    align-items: center;
    gap: pxrm(4);
    font-family: "Alumni Sans", sans-serif;
}
.claim-token-logo {
    width: 1em;
    height: 1em;
    font-size: pxrm(16);
}
.claim-tablecell--amount {
    width: calc(33% - pxrm(20));
    color: var(--c-black);
    font-family: "Alumni Sans", sans-serif;
    text-align: right;
}
.claim-tablecell--control {
    display: flex;
    align-items: center;
    justify-content: end;
    width: pxrm(60);
}
.claim-token-control {
    display: flex;
    align-items: center;
    font-size: pxrm(12);
    min-height: pxrm(22);
    text-align: end;
    color: var(--c-white);
    cursor: pointer;
    border-radius: pxrm(10);
    padding: 0 pxrm(6);
    &:hover {
        background-color: var(--c-second-1);
    }
}

.transition-class {
  transition: transform 0.3s ease-in-out;
}

